Repository shivanshuman021/Technocrats-HacktoberFest, pull requests merged in 2021-10, with the labels that each got.

#7 CONTRIBUTING.md Added
  CONTRIBUTING.md
Labels: hacktoberfest-accepted, hacktoberfest

#11 Added basic code in nodejs
  NodeJS/basic_rectangle_code/index.js
  NodeJS/basic_rectangle_code/package.json
  NodeJS/basic_rectangle_code/rectangle.js
Labels: hacktoberfest-accepted, hacktoberfest, javascript

#13 SplashScreen in Flutter
  Flutter/RachitBathla_bathlarachit/login.dart
  Flutter/RachitBathla_bathlarachit/splashScreen.dart
Labels: hacktoberfest-accepted, hacktoberfest, flutter

#15 [python] Add User Management REST API (fastAPI)
  Python/HarshNavdhare_infinity-plus/app/__init__.py
  Python/HarshNavdhare_infinity-plus/app/app.py
  Python/HarshNavdhare_infinity-plus/app/db.py
  Python/HarshNavdhare_infinity-plus/app/models.py
  Python/HarshNavdhare_infinity-plus/app/users.py
  Python/HarshNavdhare_infinity-plus/main.py
  Python/HarshNavdhare_infinity-plus/poetry.lock
  Python/HarshNavdhare_infinity-plus/pyproject.toml
  Python/HarshNavdhare_infinity-plus/requirements.txt
Labels: hacktoberfest-accepted, hacktoberfest, python, appreciation

#17 OMDB API added
  Flutter/viral_viralvaghela/github api/github_api.dart
  Flutter/viral_viralvaghela/omdb api/api.dart
  Flutter/viral_viralvaghela/omdb api/model/movie.dart
Labels: hacktoberfest, flutter

#18 basic server code added
  NodeJS/node_http_server/index.js
  NodeJS/node_http_server/package.json
  NodeJS/node_http_server/public/about.html
  NodeJS/node_http_server/public/index.html
Labels: hacktoberfest-accepted, hacktoberfest, javascript

#19 React routing template app added
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/.gitignore
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/README.md
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/package-lock.json
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/package.json
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/favicon.ico
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/index.html
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/logo192.png
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/logo512.png
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/manifest.json
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/public/robots.txt
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/App.css
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/App.js
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/Components/Nav.js
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/about.js
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/index.css
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/index.js
  ReactJS/DivyaSoni_divya-soni-14/basic-routing-template/src/shop.js
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, ReactJs

#22 password_reset
  Django/Passowrd_reset/password/password_reset.html
  Django/Passowrd_reset/password/password_reset_complete.html
  Django/Passowrd_reset/password/password_reset_confirm.html
  Django/Passowrd_reset/password/password_reset_done.html
  Django/Passowrd_reset/password/password_reset_email.txt
  Django/Passowrd_reset/settings.py
  Django/Passowrd_reset/urls.py
  Django/Passowrd_reset/views.py
Labels: hacktoberfest-accepted, hacktoberfest, python, appreciation

#20 Added four OS process scheduling algorithms in C
  Data Structures and Coding Algorithm/12. OS Algorithms/First_Come_First_Serve_FCFS.c
  Data Structures and Coding Algorithm/12. OS Algorithms/Priority_scheduling.c
  Data Structures and Coding Algorithm/12. OS Algorithms/Round_Robin.c
  Data Structures and Coding Algorithm/12. OS Algorithms/Shortest_Job_First_SJF.c
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#23 sorting-algos-added
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/sorting_algorithms.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#25 Imp code ;)
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/unique_sets.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#24 Create balance_parantheses.cpp
  Data Structures and Coding Algorithm/03. Stack/balance_parantheses.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#21 mongo_db_with_node
  NodeJS/mongo_db_applications_with_node/index.js
  NodeJS/mongo_db_applications_with_node/operations.js
  NodeJS/mongo_db_applications_with_node/package.json
  NodeJS/mongoose_with_node/index.js
  NodeJS/mongoose_with_node/models/dishes.js
  NodeJS/mongoose_with_node/package.json
Labels: hacktoberfest-accepted, hacktoberfest, appreciation

#26 Create intersectionpointof2LL.cpp
  Data Structures and Coding Algorithm/02. Linked List/intersectionpointof2LL.cpp
  Data Structures and Coding Algorithm/05. Binary Tree/iterative_views.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#27 search-algorithms
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/search_algorithms.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#32 added README for better understanding
  NodeJS/mongo_db_applications_with_node/README.md
  NodeJS/mongoose_with_node/README.md
Labels: appreciation

#30 Added segment tree folder in DSA
  Data Structures and Coding Algorithm/13. Segment Tree/max_segtree_lazy.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#31 Prims Algorithm and Bridges in Graph
  Data Structures and Coding Algorithm/09. Graph/Bridges_in_Graph.cpp
  Data Structures and Coding Algorithm/09. Graph/Prims_algorithm.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#33 Create models.py
  Django/IntegerRangeField/models.py
Labels: python, appreciation

#35 Added Top 3 array questions
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/Top 3 array questions/first_missing_integer.cpp
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/Top 3 array questions/kadane_algorithm.cpp
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/Top 3 array questions/merge_intervals.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#36 Union_find
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/Union.cpp
  Data Structures and Coding Algorithm/01. Array - Sort,Search,Algo/largest_bst_in_BT.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#37 Create connectedComp.cpp
  Data Structures and Coding Algorithm/09. Graph/connectedComp.cpp
Labels: C++ Algo

#34 readme_update
  README.md
Labels: enhancement

#38 Added Django Logout User - views.py class
  Django/DjangoLogoutUser/DjangoLogoutUser_views.py
Labels: hacktoberfest-accepted, hacktoberfest, python

#39 Added two segtree codes
  Data Structures and Coding Algorithm/13. Segment Tree/sum_segtree_lazy.cpp
  Data Structures and Coding Algorithm/13. Segment Tree/xor_segtree.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#40 Create README.md
  Django/DjangoLogoutUser/README.md
Labels: hacktoberfest-accepted, hacktoberfest, python, appreciation

#44 Created reverse_linked_list_in_k_groups.cpp
  Data Structures and Coding Algorithm/02. Linked List/reverse_linked_list_in_k_groups.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#45 Ensemble learning code examples added
  ML - Data Science/Ensemble learning methods/.ipynb_checkpoints/AdaBoost-checkpoint.ipynb
  ML - Data Science/Ensemble learning methods/.ipynb_checkpoints/Random_Forest-checkpoint.ipynb
  ML - Data Science/Ensemble learning methods/AdaBoost.ipynb
  ML - Data Science/Ensemble learning methods/Random_Forest.ipynb
Labels: hacktoberfest-accepted, hacktoberfest, appreciation

#54 Added Code for a general purpose segment tree
  Data Structures and Coding Algorithm/13. Segment Tree/general_purpose_segment_tree.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#56 Added code for longest valid parantheses
  Data Structures and Coding Algorithm/03. Stack/longest_valid_parantheses.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#52 Added CNN Pytorch Implementation
  ML - Data Science/CNN Architectures/Alexnet in Pytorch.ipynb
  ML - Data Science/CNN Architectures/Alexnet_architecture.png
  ML - Data Science/CNN Architectures/CIFAR-10 Pytorch.ipynb
  ML - Data Science/CNN Architectures/CNN Pytorch.ipynb
  ML - Data Science/CNN Architectures/GoogLeNet PyTorch.ipynb
  ML - Data Science/CNN Architectures/GoogLeNet_architecture.png
  ML - Data Science/CNN Architectures/LeNet Pytorch.ipynb
  ML - Data Science/CNN Architectures/LeNet_architecture.png
  ML - Data Science/CNN Architectures/MNIST Pytorch.ipynb
  ML - Data Science/CNN Architectures/NIN_architecture.png
  ML - Data Science/CNN Architectures/NiN PyTorch.ipynb
  ML - Data Science/CNN Architectures/Pretrained Pytorch.ipynb
  ML - Data Science/CNN Architectures/ResNet_VGG_architecture.png
  ML - Data Science/CNN Architectures/Resnet in PyTorch.ipynb
  ML - Data Science/CNN Architectures/VGG in PyTorch.ipynb
Labels: python, Pending - Extra Work Needed

#59 Added sorting visualizer components
  ReactJS/Sorting Visualiser/Algorithms/BubbleSort.js
  ReactJS/Sorting Visualiser/Algorithms/InsertionSort.js
  ReactJS/Sorting Visualiser/Algorithms/MergeSort.js
  ReactJS/Sorting Visualiser/Algorithms/QuickSort.js
  ReactJS/Sorting Visualiser/Algorithms/RadixSort.js
  ReactJS/Sorting Visualiser/Algorithms/SelectionSort.js
  ReactJS/Sorting Visualiser/Bar/Bar.jsx
  ReactJS/Sorting Visualiser/Bar/Bar.module.scss
  ReactJS/Sorting Visualiser/Container/Container.jsx
  ReactJS/Sorting Visualiser/Container/Container.module.scss
  ReactJS/Sorting Visualiser/Sorting.jsx
  ReactJS/Sorting Visualiser/Sorting.module.scss
  ReactJS/Sorting Visualiser/package.json
  ReactJS/Sorting Visualiser/utils/Controls.jsx
  ReactJS/Sorting Visualiser/utils/Controls.module.scss
  ReactJS/Sorting Visualiser/utils/Legend.jsx
  ReactJS/Sorting Visualiser/utils/Legend.module.scss
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, ReactJs

#62 Delete Node at its position mentioned itself
  Data Structures and Coding Algorithm/02. Linked List/delete_node_atposition_itself.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#63 Added Dijkstra Algo
  Data Structures and Coding Algorithm/09. Graph/dijkstraAlgo.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#64 Articulation Point in Graphs
  Data Structures and Coding Algorithm/09. Graph/Articulation_Point.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#66 Added Floyd Warshall Algo
  Data Structures and Coding Algorithm/09. Graph/floydWarshall.cpp
  Data Structures and Coding Algorithm/09. Graph/kosaraju.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo

#67 Maximum Node Path sum from Any node to any node in a binary tree
  Data Structures and Coding Algorithm/05. Binary Tree/max_node_path_sum.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#72 Added Kruksal algo for minimum spanning tree
  Data Structures and Coding Algorithm/09. Graph/kruksalAlgo.cpp
Labels: hacktoberfest-accepted, hacktoberfest, C++ Algo

#82 Added code for ways to create max heap
  Data Structures and Coding Algorithm/07. Heap/ways_to_form_max_heap_with_n_distinct_keys.cpp
Labels: hacktoberfest-accepted, hacktoberfest, appreciation, C++ Algo, good-first-pr

#85 code snipped for converting to square images
  Django/MakeImageSquare_VishwasGajawada/models.py
  Django/MakeImageSquare_VishwasGajawada/readme.md
  Django/MakeImageSquare_VishwasGajawada/utils.py
Labels: hacktoberfest-accepted, hacktoberfest, python, appreciation, good-first-pr

#93 Added clock_counter.v
  Arduino-ESP/clock_counter.v
Labels: hacktoberfest-accepted, hacktoberfest, good-first-pr

#95 added a .py code to burst capture using webcam
  Python/RajaReddy/BurstImageCapture.py
Labels: hacktoberfest-accepted, hacktoberfest, appreciation

#117 Added Basic Bank Management System
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/Employee_end.py
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/README.md
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/credentials.py
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/date_verifier.py
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/main.py
  Python/Saurav_Saurav-Navdhare/Basic Bank-Management-System/requirements.txt
Labels: hacktoberfest-accepted, hacktoberfest, python, appreciation

#127 Python Script to monitor disk space and send an email in case threshold reached
  Python/Email_Sender/customized_email.py
  Python/Email_Sender/disk_usage.py
Labels: hacktoberfest-accepted, hacktoberfest, python

#131 Added pythonscript to merge pdfs file present in current working directory
  Python/AasthaSingh_aasthasingh650/pdf_merge.py
Labels: documentation, hacktoberfest-accepted, hacktoberfest, python, good-first-pr
